﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World (from the view)
        <p>We're going to have an existing party.<br/>
        (To do: sell it better. Add pictures or something.)
        </p>
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>
